// Font Size
$font-family: "Helvetica Neue", Arial, sans-serif;
$base-font-size: 16px;
$movie-title-size: 24px;
$brand-title-size: 60px;
$details-button-size: 16px;
$menu-text-size: 18px;
$read-more-size: 14px; 
//Variable of color
$primary-bg:#0f0f11;
$font-color:rgb(255, 255, 255);
$button-bg:#ac1a1a;
$secondary-button-bg:#bff941;