
.card-img-top{
    width: 100%;
    height: 100%;
    object-fit: fill;
    
}
.overview_Text{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Card_img{
        width: 100%;
    height: 30rem;
   
}